@import url(../style.css);

.main-button{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--color-blue-b200);
    padding: 11.2px 16px 12.8px;
    border: none;
    border-radius: 5px;
    transition: all 250ms ease;
}
.main-button:hover{
    background-color: var(--color-blue-b500);
}