@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
a, h1, h2, h3, p, li{
    text-decoration: none;
    list-style-type: none;
    color: #030B1A;
}
body{
    background-image: url(./img/bg.png);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 100px 100px 50px;
    gap: 30px;
}
.avatar{
    display: flex;
    justify-content: center;
}
.avatar img {
    position: absolute;
    top: 20px;
}
.container-text{
    max-width: 600px;
    margin: 0 auto;
}
.container-text p{
    line-height: 30px;
}
.container-button button{
    padding: 20px;
    background-color: #5c1374;
    border-radius: 8px;
    border: none;
    color: #ffffff;
}